<!DOCTYPE html>
	<html>
		<head>
			<title></title>
			<link rel="stylesheet" href="styles.css" />
			<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,800i" rel="stylesheet">
		</head>
		<body>
			<div id="main-container">
				<div id="content-container">
					<h1>Pomodoro Clock</h1>

					<div id="settings">
						<div id="break-settings">
							<span id="decrease-break">-</span><span id="break-time">5:00 Minutes<span id="increase-break">+</span></span>
						</div>
							<div id="work-settings">
							<span id="decrease-work">-</span><span id="work-time">20:00 Minutes</span><span id="increase-work">+</span>
							</div>
					</div>
					<div id="timer">
						<h2>25:00 Minutes</h2>
					</div>
				</div>
			</div>
		</body>
</html>